{% extends 'base.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block body %}
    <section class="row">
    {#? Il y'a pas de foreach on parcourt le tableau avec la fonction for de twig #}
    {#? L'argument avant le in est la valeure à chaque tour de boucle  #}
    {#? L'argument après le in est le tableai a parcourir #}
    {% for item in articles %}
        <article class="col-md-4 mx-auto text-center border border-dark">
            <h2>{{ item.title }}</h2>
            <div class="metadata">Ecrit le {{ item.createdAt|date('m/d/Y à H:i:s') }} dans la catégorie Politique</div>
            <div class="content">
                <img src="{{ item.image }}" alt="">
                <a href="#" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}
    </section>
{% endblock %}
