{% extends "test/test.html.twig" %}

{% block title %}Salut!{% endblock %}

{% block body %}
<h2>Salut {{prenom}} !</h2>
{% endblock %}

{% block footer %}
<div>Nouveau footer</div>
{% endblock %}

{% block yoyo %}
    Nouveauté PHP 8 : les attributs 
{% endblock %}