{% extends "base.html.twig" %}

{% block title %}Vue de mon article{% endblock %}

{% block body %}
<section class="col-md-6 mx-auto text-center border border-dark my-3 p-3">
    <article> 
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt|date('m/d/Y à H:i:s') }} dans la catégorie Politique</div>
        <div class="content">
        <img src="{{ article.image }}" alt=""></article>
        <br>
        {{ article.content|raw }}
        </div>
</section>



{% endblock %}