{% extends 'base.html.twig' %}

{% block title %}Mes voitures{% endblock %}

{% block body %}
<h1>Mes voitures</h1>
<div class="container">
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
    </table>
</div>
{% endblock %}
